body {
    color: #434455;
    font-family : "Roboto", sans-serif;
    background-color : #FFFFFF ;
}

h1, h2, h3 {
    font-family: "Raleway", sans-serif;
}

button {
    cursor: pointer;
}

nav a, address  {
    color:#2E2F42 ;
}

.logo {
    
font-family: Raleway;
font-size: 18px;
font-weight: 700;
line-height: 21px;
letter-spacing: 0.03em;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;

}