body {
    color: #434455;
    font-family : "Roboto", sans-serif;
    background-color : #FFFFFF ;
}

h1, h2, h3 {
    font-family: "Raleway", sans-serif;
}

button {
    cursor: pointer;
}

.link.header{
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.address a {
    font-style: normal;
}

.mailto {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

nav a, address  {
    color:#2E2F42 ;
}

a:hover {
    color: #404bbf;
}

a:focus {
    color: #404bbf;
}

.logo {
font-family: "Raleway", sans-serif;
line-height: 1.17;
text-transform: uppercase;
color: #4d5ae5;
font-size: 18px;
font-weight: 700;
line-height: 21px;
letter-spacing: 0.03em;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;

}

.logo .studio {
    color: #2e2f42;
}

.logo .studio2 {
    color: #f4f4fd;
}

.title {
color: #2E2F42;
font-family: Roboto;
font-size: 36px;
font-weight: 700;
line-height: 40px;
letter-spacing: 0.02em;
text-align: center;
text-underline-position: from-font;
text-decoration-skip-ink: none;


}

.footertext {
color: #E7E9FC;
font-family: Roboto;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.02em;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;

}


footer {
    background: #2E2F42;
}